@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.btn {
  border-radius: 8px;

  background: rgb(82, 195, 3);
  padding: 21px 32px 21px 32px;
  border-style: none;
  margin-top: 32px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.recipe-name {
  border-radius: 8px;

  background: rgba(82, 195, 3, 0.15); /* Frame 9 */
  position: static;
  width: 187px;
  height: 56px;
  padding: 24px 10px 0 10px;
  /* Inside Auto Layout */
  margin: 24px 0px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

#preloader img {
  width: 150px;
  height: auto;
}

#hero {
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 919px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .hero-content {
  width: 1023px;
}

#hero .hero-content .subtitle {
  font-family: Work Sans;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .description {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

#card-box {
  width: 1320px;
  margin: 7rem auto;
  text-align: center;
}

#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  width: 691px;
  margin: auto;
}
#card-box .card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-box .card-box .card {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

#card-box .card {
  width: 424px;
  height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

#card-box .container .card .discount {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
}
#card-box .container .card .short-description {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
